<div>
    <h3>Cadastro de Restaurante</h3>
    <input type="hidden" name="temperatureC" value="{{model.temperatureC}}"/>
        <div class="form-group">
            <label for="name">Nome *</label>
            <input type="text" class="form-control" [(ngModel)]="model.dateFormatted" required/>
        </div>
        <button (click)="goBack()" class="btn btn-default">Cancelar</button>

        <button type="button" (click)="SaveRestaurante()" ng-disabled="" class="btn btn-primary">Salvar</button>
    </div>